.appContainer{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	transition: 0.2s;
	transition-timing-function: ease-out;
	justify-items: center;
	align-items: center;
	width: 100vw;
    height: 100vh;
}
.ui{

	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.description{
	display: grid;
	justify-items: center;
	text-align: center;
	padding-bottom: 2rem;
}









.inputField{
	display: grid;
	color: transparent;
	background-color: none;
	height: 4rem;
	justify-items: center;
}
.inputTextBox{
	border-radius: 8px;
	border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    width: 20rem;
    font-size: 16px;
    height: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);

}
.inputTextBox:focus{
	outline: none;
	border-color: #56b39c;
	transform: scale(1.05);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);

}
.inputTextBox:hover{
	border-color: #56b39c;
	transform: scale(1.05);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
}
.markerField{
	grid-column: 1;
	grid-template-rows: 1fr auto;
	grid-row-gap: 1.2rem;
	background-color:white;
	transition: 0.2s;
	width: 45vw;
	display: grid;
	border-radius: 8px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
	padding: 2vw;
	padding-top: 4vw;
	padding-bottom: 4vw;
	
  	/*text-align: center;*/
}
.submitMarker{
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.submitBtnContainer{
	grid-column: 2;
	text-align: right;
}
.submitMarkerText{
	font-size: 1rem;
	padding-left: 12pt;
	padding-right: 12pt;
	font-family: "arial";
	border-bottom: 0.05rem #588c80 solid;
	color:#588c80;
	transition: 0.2s;
}
.submitMarkerText:hover{
	cursor: pointer;
	color: #48cfaf;
	border-bottom: 0.06rem #48cfaf solid;
}
.backBtnContainer{
	grid-column: 1;
	text-align: left;
}
.goBackBtn{
	font-size: 1rem;
	padding-left: 12pt;
	padding-right: 12pt;
	font-family: "arial";
	border-bottom: 0.05rem #588c80 solid;
	color:#588c80;
	transition: 0.2s;
	align-self: left;
}
.goBackBtn:hover{
	cursor: pointer;
	color: #48cfaf;
	border-bottom: 0.06rem #48cfaf solid;
}
.markerFieldText{
	transition: 0.2s;
	grid-row: 2;
	width: 40vw;
	color: #2a2b2b;
	padding-left: 16pt;
	justify-self: center;
}
.wordWrapper{
	line-height: 1.1;
	font-size: 1rem;
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */
}
.lemmaContainer{
	display: grid;
	justify-items:center;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 1rem;
	border-radius: 8px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
	padding: 2vw;
	padding-top: 4vw;
	padding-bottom: 4vw;

}
.lemmaListWrapper{
	display: grid;
	grid-template-rows:1fr auto;
	transition: 0.2s;
	grid-column: 1/3;
	max-height: 80vh;
	border-top: 1px black lightgrey;
}
.lemmaListWrap{
	overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  color: grey;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lemmaList{
	padding: 1rem;
	border-bottom: solid 1px grey;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	transition: 0.2s;
}
.wordResult{
	grid-column: 1;
	font-family: "arial";
}
.lemmaBtn{
	border: solid 1px;
	border-radius: 8px;
	padding: 0.25rem;
	width: 3rem;
}
.lemmaBtn:hover{
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.2s;
}
.delete{
	grid-column: 3;
	color: red;
	font-family: "arial";
	font-size:0.8rem;
}
.finalSubmitBtnContainer{
	grid-column: 2;
	justify-self:end;
	text-align: right;
}
.finalSubmitBtn{
	font-size: 1rem;
	padding-left: 12pt;
	padding-right: 12pt;
	font-family: "arial";
	border-bottom: 0.05rem #588c80 solid;
	color:#588c80;
	transition: 0.2s;
	align-self: left;
}
.finalSubmitBtn:hover{
	cursor: pointer;
	color: #48cfaf;
	border-bottom: 0.06rem #48cfaf solid;
}


.finalOptionsContainer{
	width: 60vw;
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
}
.quizletContainer{
	grid-column: 2;
	justify-items: center;
	align-items: center;
}
.csvContainer{
	grid-column: 1;
	justify-items: center;
	align-items: center;
}
.csvicon{
	grid-column: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	height: 9rem;
	width: 6rem;
	text-decoration: none !important;
	border-radius: 1rem;
	border: solid 4px #114B5F;
	background-color: #E4FDE1;
}
.csvicontextcontainer{
	grid-column: 3;
	grid-row: 3;
}
.csvicontext{
	margin-left: 3rem;
	font-weight: bolder;
	font-size: 2rem;
	font-family: "arial";
	color: #028090;
	text-decoration: none !important;
	text-underline-position: none;
	border-bottom: solid 4px black;
	background-color: #E4FDE1;
	border-radius: 0.5rem;
	border: solid 4px #114B5F;
	padding: 0.1rem;
	z-index: 1;
}


@media only screen and (max-width: 600px){
	.markerField{
		width: 80vw;
	}	
	.markerFieldText{
		width: 70vw;
	}
	.submitMarkerText{
		font-size: 0.6rem;
		
	}
	.goBackBtn{
		font-size: 0.6rem;
	}
}